тело {
семья шрифтов: Грузия;
 размер шрифта: 16 пикселей;
  поле: 0 авто; / * центр контента * /
  максимальная ширина: 800 пикселей; / * предельная ширина * /
  высота строки: 1,5;
  padding-top: 32px;
  padding-bottom: 32px;
}

ul {
margin-top: 0;
}
п {
margin-top: 0;
нижнее поле: 12 пикселей;

}

h1, h2, h3 {
вес шрифта: 400 пикселей;
поле: 0;

}

h1 {
размер шрифта: 36 пикселей;

}

h2 {
размер шрифта: 32 пикселя;
нижний край: 1px серый сплошной;
поле снизу: 8 пикселей;

}

h3 {
 размер шрифта: 20 пикселей;

}

#header {
поле снизу: 32 пикселя;
выравнивание текста: по центру;

}

#главный {

}

#footer {
margin-top: 64 пикселя;
выравнивание текста: по центру;
}
